@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Josefin+Sans:wght@100&family=Pacifico&display=swap');
 /*Comentaio en CSS */
body{
    background-color:burlywood;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Cairo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    
}

h4{
    border-radius: 50px;
}

#Principal{
    border-radius: 50px;
}

#Play3{
    margin-left: 5px;
}

#Ranking, #Inicio{
    border-radius: 25%;
    background-color: rgb(217, 255, 0);


}

#Sugerencias{
    border: none;
    background-color: rgb(217, 255, 0);
    white-space: 2000px
}

#Inicio{
    margin-left: 5px;
}

#Autenticar{
    display: flex;
}

#br{
    margin: 0px;
}

#Play3, #nintendobtn, #ps4btn, #ps5btn, #btnxbox{
    background-color: rgb(217, 255, 0);
    border-radius: 50px;
    border:none;
}

